@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

.hidden {
    display:none;
}

h1{
    font-family: 'Rock Salt', times, sans-serif;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}