@charset "UTF-8";

#container {
    width: 960px;
    margin: 0 auto;
}
body {
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #333;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 44px;
    letter-spacing: -1px;
    margin-bottom: 20px;
}
p{
    margin-bottom: 20px;
    line-height: 24px; 
}
p:first-line {
    font-weight: bold;
    color: #666;
}