@charset "UTF-8";
/* CSS Document */


html, body
{
	font-size: 100%;
	font-family: 'Montserrat', Arial, sans-serif;
}
a { text-decoration: none; }
.imgMax
{
	max-width: 100%;
	margin: 0 auto;
}

.hidden
{
	display: none;
}
#container {
	width: 95%;
	margin: 0 auto;
}
#logo {
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
}
.essential {
	color: #666;
	float: right;
	margin-top: 15px;
	font-size: .75em; /* 12/16 Ems are 16px (ussually) devided by you're target font size*/
}
.essential:hover {
	color: #7b242b;
}
#mapUs {
	clear: right;
	margin-top: 10px;
}
#mainNav {
	clear:both;
	background: #efefef;
	padding: 5px 0;
	font-size: .875em;
}
#mainNav ul {
	width: 80%; /* we are giving the unordered list it's own size and centering
				   it in the nav tag */
	margin: 0 auto;
	text-align: center;
}
#mainNav li {
	display: inline;
	text-transform: uppercase;
	margin-right: .5em;
}
#mainNav ul li:last-child {
	margin-right: 0;
}
#mainNav ul li a {
	color: #333;
}
#mainNav ul li a:hover {
	color: #7b242b;
}

#steak {
	margin: 20 0;
	
}
h2{
	font-family: "Arapey", Times, serif;
	font-size: 1.72em;
	text-transform: uppercase;
	margin: 10px 0;
	text-align: center;
}
p {
	font-family: Helvetica, Arial, sans-serif;
	line-height: 22px;
	margin-bottom: 20px;
	font-size: .875em;
}
footer {
	background-color: #7b242b;
	height: 40px;
	text-align: center;
}
footer p {
	color: #fff;
	line-height: 40px;
}
@media only screen and (min-width: 31.25em) {
	#generalDesc h2 {
		text-align: left;
	}
}

@media only screen and (min-width: 52.53em) { /*840/16*/
	#mainNav {
		padding: 15px 0;
	}
	#mainNav ul {
		width: auto;
		text-align: left;
		margin: 0 0 0 20px;
	}
	#mainNav ul li {
		margin: 0 0 0 20px;
	}
	#logo {
		width: 15%; 
		margin: 0 0 20px;
	}
	#steak {
		width: 40%;
		margin-right: 5%;
		float: left;
	}
	#generalDesc {
		float: right;
		width: 40%;
		margin: 20px;
		margin-top: 10px;
	}
	footer {
		clear: both;
	}
	
}

/*Once screen hits 1160px stop letting it grow, set it to fixed width, this is as big as we want site*/
@media screen and (min-width: 72.5em) {
	#container 
	{
	width: 1160px; 
	/*Can be either rem or px, depends if you want container to scale with preference change.*/
	/*Using ems, will not work through as other elements inside of the container will base their measurements
	off of this parent*/
	}
}
